.corouselInfo-container {
  text-align: left;
  /* display: grid;
  grid-template-rows: 20% 35% 15% 30%;
  gap: 5px; */

  /* display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  gap: 5px; */
}
.corousel-tags {
  padding-top: 20px;
}

.infoHeader {
  padding-top: 20px;
}

.infoSubHeader {
  padding-top: 10px;
}

.play-button-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
